    <!--navbar-->
    <app-navbar></app-navbar>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div>
    <ul class="nav nav-tabs navigation">
        <li role="presentation" ><a routerLink="/registration" routerLinkActive="active">Employee registration</a></li>
        <li role="presentation" ><a routerLink="/registration/companyRegistration" routerLinkActive="active">Company registration</a></li>

      </ul> 
</div>

<!--Employee and Company SignUp forms-->
<div class=routing>
      <router-outlet></router-outlet>
 </div>
