<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Cool Sign Up Form</title>
</head>
<body>
    <app-navbar></app-navbar>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
    <ul class="nav nav-tabs navigation">
        <li role="presentation" ><a routerLink="/registration" routerLinkActive="active">Employee registration</a></li>
        <li role="presentation" ><a routerLink="/registration/companyRegistration" routerLinkActive="active">Company registration</a></li>

      </ul> 
</div>
<div class=routing>
      <router-outlet></router-outlet>
 </div>
      
</body>
</html>