	<!-- Fixed navbar -->
	<app-navbar></app-navbar>
	<!-- /.navbar -->

    <br>
    <br>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">About</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">About us</h1>
				</header>
				
				<p><img src="assets/images/22.jpg" alt="" class="img-rounded pull-right" width="300" ><br><h3>Who are we?</h3>We are a group of passionate students aiming to help young students to find their suitable job in an easy way that permits to save time and avoid administrative problems. We also allow company owners to find the most qualified students they need in their business.  </p>
				<br>
				<br>
				<br>
				

				<p><img src="assets/images/25.jpg" alt="" class="img-rounded pull-left" width="300" ><br><br><br><br><br><h3>Meet the team</h3>Meet the team that worked on this project: Eya ZAOUI, Yassine AYADI and Taha Yassine TIZAOUI.
					This project is made with love.  </p>
				<br>
				<br>
				<br>
				
				
				
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<br>
			<br>
			<br>
			<br>
		
			<aside class="col-sm-3 sidebar sidebar-right tex">

				<div class="widget">
					<h4>Address</h4>
					<address>
						Centre Urbain Nord, Tunis, TUNISIA
					</address>
					<h4>Phone:</h4>
					<address>
						+216 50 666 585 
					</address>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	
	<app-testimonial></app-testimonial>
    <app-footer></app-footer>
		