	
	<div class="pg">

	<!-- Fixed navbar -->
	<app-navbar></app-navbar>
	<!-- /.navbar -->
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container ">
        <div class="card  border-primary rounded">
			<div >
				<ul class="nav nav-tabs navigation">
					<li role="presentation" ><a routerLink="/signin/studentsignin" routerLinkActive="active">Student sign in</a></li>
					<li role="presentation" ><a routerLink="/signin/companysignin" routerLinkActive="active">Company sign in</a></li>
				</ul> 
			</div>
      


        	<!--Employee and Company SignUp forms-->
        	<div class=routing>
          
          		<router-outlet></router-outlet>
        	</div>
   		 </div>
	</div>
	

	
	
	<!--footer-->
	<app-footer></app-footer>

</div>




	
