<!-- Fixed navbar -->
<div  class="navbar navbar-inverse navbar-fixed-top headroom " >
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="index.html"><img src="assets/images/19.png" alt="Pic not working"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a routerLink="/" routerLinkActive="active">Profile</a></li>
                <li><a routerLink="/about" routerLinkActive="active" >About</a></li>
                <li class="dropdown">
                    <ul class="dropdown-menu">
                        <li><a href="sidebar-left.html">Left Sidebar</a></li>
                        <li class="active"><a href="sidebar-right.html">Right Sidebar</a></li>
                    </ul>
                </li>
                <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                <li><a class="btn" routerLink="/signin" routerLinkActive="active">Find a job </a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div> 
<!-- /.navbar -->